<div ng-cloak>
  <div ng-if="$parent.showList">
    <div>
      <div>
        <h3>Most similar users</h3>
      	<div ng-if="ranks.users.length !== 0">
    	    <div class='userList' ng-repeat="user in ranks.users">
    	      <h3 class="inlineHeader"><a href='#/users/{{user.id}}'>{{user.first_name}} {{user.last_name}}</a></h3>
    	    </div>
    	 </div>
      	<div ng-if="ranks.users.length === 0 || !ranks.users">
      		<label>Not enough users found!</label>
      	</div>
      </div>
    </div>
  </div>
</div>
