<div class='profile' style='padding-left: 50px; padding-top: 50px'>
  <div style="max-width: 33%; display: inline-block">
    <img ng-if="!userDetail.user.profile_picture" id="profilePic" style="width: 250px; height: 200px; border: 3px solid black" src="../images/anonymous.jpg"></img>
    <img ng-if="userDetail.user.profile_picture" id="profilePic" style="width: 250px; height: 200px; border: 3px solid black" ng-src="../images/{{userDetail.user.profile_picture}}"></img>
    <div ng-if="userDetail.current_user">
   		<input type="file" style="width:200px" accept="image/*"  onchange="angular.element(this).scope().inputFileNameChanged(this)"></input>
    	<input type="submit" ng-click='uploadPhoto()'value="Upload"></input>
    </div>
    <h3>{{userDetail.user.first_name}} {{userDetail.user.last_name}} 
    </h3>
    <button ng-click="toggleFollow()" ng-if="!userDetail.current_user">{{userDetail.follow_action}}</button>
    <h4>Followers: {{userDetail.followers}}, Following: {{userDetail.following}}</h4>
    <h4>Specialties: {{userDetail.specialties}} </h4>
  </div>

  <div ng-if="recommendations.length !== 0" style="display: inline-block; width: 55%; padding-left: 40px; vertical-align: top">
  	<h3 style='text-align: center; margin: 0px'>Reviews</h3>
  	<div style='border: 1px solid black; '>
	  <div class='commentUserContainer profile' ng-repeat="recommendation in recommendations">
		  <a href='#/restaurant/{{recommendation.restaurant}}'>{{recommendation.name}}</a> -- <label>{{recommendation.address}}</label>
		  <br>
		  <h3 ng-if="recommendation.strength == 1">Nope <i class="fa fa-minus"></i><i class="fa fa-star"></i></h3>
		  <h3 ng-if="recommendation.strength == 2">Meh <i class="fa fa-minus"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i></h3>
		  <h3 ng-if="recommendation.strength >= 3">Great <i class="fa fa-minus"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>

		  <label>{{recommendation.review}}</label>
		  <br></br>
	   </div>
	</div>
	</div>
</div>
